*.aps
*.bin
*.vcxproj.user
*.lastcodeanalysissucceeded
/intermediate/
/build/
/publish/
/enc_temp_folder/
/.git/
.vs/
windirstat/res/lang_combined.txt
windirstat/Build/
windirstat/intermediate/
windirstat/rust/**/target/
*.exe
*.pdb
*.obj
*.ilk
*.pch
*.tlog
*.log
*.lastbuildstate
